<div id="menu" class="bg-[#ffcadf] font-serif font-light p-8">
  <div class="w-4/5 sm:w-11/12 xs:w-9/10 bg-[#f6f6f6] mx-auto rounded-4xl shadow-2xl">
    <div class="p-8 text-[#a56873] space-y-4 text-center">
      <h1 class="text-3xl font-normal">Menu</h1>
      <p class="w-1/3 mx-auto text-base/5">There’s something for every taste and craving. Every cup is made fresh, just the way you like it!</p>
    </div>


    <div class="flex flex-row">
      <div class="size-50 grid grid-cols-6 gap-0 text-center backdrop-blur-sm bg-[#a56873]/70 rounded-r-4xl w-[55%] py-12 mb-10 text-white shadow-2xl">
        <div class="col-span-3 text-xl text-[#ffcadf]">Classic Series</div>
        <div class="">SM</div>
        <div class="">MD</div>
        <div class="">LG</div>
        <div class="col-span-3">Classic Milk Tea</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
        <div class="col-span-3">♥ Thai Milk Tea</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
        <div class="col-span-3">Taro Milk Tea</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
      </div>
      <div class="relative grow mx-8 mb-8 size-50">
        <%= image_tag("milktea", {:class => "relative z-10 w-full h-full object-contain"}) %>
      </div>
    </div>
  
    <div class="flex flex-row">
      <div class="relative grow mx-8 mb-8 size-50 ">
        <%= image_tag("fruit", {:class => "relative z-10 w-full h-full object-contain "}) %>
      </div>
      <div class="grid grid-cols-6 gap-0 text-center bg-[#351a15] rounded-l-4xl w-[55%] float-right py-12 mb-10 text-white shadow-2xl">
        <div class="col-span-3 text-xl text-[#ffcadf]">Fruit Tea Series</div>
        <div class="">SM</div>
        <div class="">MD</div>
        <div class="">LG</div>
        <div class="col-span-3">Passionfruit Green Tea</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
        <div class="col-span-3">Mango Black Tea</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
        <div class="col-span-3">Lychee Oolong Tea</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="grid grid-cols-6 gap-0 text-center bg-[#a56873] text-white rounded-r-4xl w-[55%] py-12 shadow-2xl">
        <div class="col-span-3 text-xl text-[#ffcadf]">Specialty Drinks</div>
        <div class="">SM</div>
        <div class="">MD</div>
        <div class="">LG</div>
        <div class="col-span-3">Brown Sugar Boba Milk</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
        <div class="col-span-3">Strawberry Matcha Latte</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
        <div class="col-span-3">Honeydew Slush</div>
        <div>3.99</div>
        <div>4.99</div>
        <div>5.99</div>
      </div>
      <div class="relative grow mx-8 size-50">
        <%= image_tag("strawberry", {:class => "relative z-10 w-full h-full object-contain"}) %>
      </div>
    </div>
    <!-- <div class="text-[#a56873] p-5">
      <h2 class=" text-xl p-1 text-center">Toppings</h1>
        <div class="grid grid-cols-5 gap-4 text-center rounded-3xl p-5 mx-10">
          <div class="">Tapioca Pearls</div>
          <div class="">Crystal Boba</div>
          <div class="">Popping Boba (Lychee, Strawberry, Mango)</div>
          <div class="">Grass Jelly</div>
          <div class="">Aloe Vera</div>
        </div>
    </div> -->
    <div class="flex justify-center items-center p-8">
      <div class="flex items-end">
        <div class="animate-bounce w-10 h-10 bg-[#351a15] rounded-full shadow-md"></div>
        <div class="animate-bounce w-14 h-14 bg-[#351a15] rounded-full shadow-lg"></div>
        <div class="animate-bounce w-10 h-10 bg-[#351a15] rounded-full shadow-md"></div>
      </div>
    </div>
    
    <div class="mx-auto text-[#a56873]/80 text-center pb-8 grid grid-cols-6">
      <h1 class="text-2xl col-span-6 pb-4 text-[#a56873]">Our toppings</h1>
      <p>Pearls</p>
      <p>Aiyu Jelly</p>
      <p>Grass Jelly</p>
      <p>Lychee</p>
      <p>Crystal Boba</p>
      <p>Mini Pearls</p>
    </div>  
  </div>
</div>
<div id="about" class="bg-[#f6f6f6] text-[#a56873] p-8 font-serif font-light flex items-center">
  <div class="flex-1 ">
    <h1 class="text-3xl font-normal text-center pb-4 text-center overflow-hidden before:h-[1px] after:h-[1px] after:bg-[#a56873] 
           after:inline-block after:relative after:align-middle after:w-1/5 
           before:bg-[#a56873] before:inline-block before:relative before:align-middle 
           before:w-1/5 before:right-2 after:left-2 p-4">About us</h1>
    <p class="text-center w-3/4 mx-auto text-base/5 text-[#a56873]/80">Here we’re passionate about crafting the perfect cup of boba — one that’s full of flavor, fun, and freshness. What started as a love for milk tea and chewy pearls has grown into a space where friends gather, flavors shine, and every sip brings joy. <br class="hidden sm:inline"/><br class="hidden sm:inline"/> We’re committed to using quality ingredients, creative recipes, and a whole lot of <span class="font-bold">heart</span> to bring you a boba experience you’ll keep coming back for.</p>
  </div>
  <div class="flex-1">
    <img class="" src="<%= asset_path('store.jpeg') %>">
  </div>
</div>
<div id="contact" class=" text-center text-[#f6f6f6] bg-[#a56873] p-8 font-serif font-light flex flex-col gap-y-4">
  <div class="flex flex-row mx-auto gap-4">
    <p>Careers</p>
    <p>Contact Us</p>
    <p>FAQ</p>
  </div>
  <div class="flex flex-row mx-auto gap-4">
    <img class="w-10 h-10" src="<%= asset_path('insta.png') %>">
    <img class="w-10 h-10" src="<%= asset_path('tt.png') %>">
    <img class="w-10 h-10" src="<%= asset_path('twitter.png') %>">
  </div>
  <p class="col-span-3">Copyright © 2025 | BOBA | All Rights Reserved</p>
</div>