<div class="flex flex-row justify-center absolute inset-0 h-fit bg-[#ffcadf]">
    
    <nav class="font-serif font-light p-4 rounded-full text-white text-xl space-x-6 font-bold">
        <span class="mr-4">
            <img class="h-10 w-10 object-scale-down inline-block" src="<%= asset_path('logo.png') %>">
        </span>
        <span class="mr-4 hover:overline">
            <%= link_to 'Home', '#home' %>
        </span>
        <span class="mr-4 hover:overline">
            <%= link_to 'Menu', '#menu' %>
        </span>
        <span class="mr-4 hover:overline">
            <%= link_to 'About', '#about' %>
        </span>
        <span class="mr-4 hover:overline">
            <%= link_to 'Contact Us', '#contact' %>
        </span>
    </nav><br>
    
</div>
